img{
  background-color: white;
}

.text-center {
  text-align: center;
}

.white-smoke {
  background-color: whitesmoke;
}

.margin5 {
  margin: 5px;
}

.margin1 {
  margin: 1%;
}

.padding5{
  margin: 5px;
}

.padding1{
  margin: 1%;
}
